/*NAVBAR*/
.propNav{
    border: solid 3px rgba(255, 0, 0, 0.541);
    background-color: #9c9d9daf;
  }
  
  
  .pruebaImg{
    max-width: 100px;
    display: block;
  }
  
  .listaNav{
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: bolder;
  }